*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER */
.header1 {
    background-image: linear-gradient(to left, #0499c2, #071e54);
}

.header2{
    width: 1170px;
    margin: auto;
}
.navbar{
    font-size: 20px;
}
.container-fluid{
    width: 100px;
}
.container-fluid h1{
    font-size: 35px;
    font-weight: bold;
    color: #bfd7f3;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 15px;
}
.container-fluid img {
    width: 60px;
}

.collapse a {
    color: aliceblue;
    text-decoration: none;
    margin: 0 10px;
}

.nav-item a:hover{
    color: #a0a0a0;
    transform: scale(1.04);
    transition: 0.3s;
}

/* JUMBOTRON */
main {
    background-image: url(https://images.unsplash.com/photo-1608009597797-13bc9b52cfb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c291bmQlMjBzdHVkaW98ZW58MHx8MHx8&w=1000&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 80vh; */
    color: rgb(220, 228, 228);
    text-shadow: 0 3px rgb(16, 16, 16);
    padding: 200px;
    
}
.jumbotron h1{
    font-size: 80px;
    padding: 20px;
}
.jumbotron p{
    font-size: 23px;
    padding: 3px;
    text-decoration: none;
}
.enviarcorreo {
    display: flex;
    justify-content: center;

}
.contenedor {
    padding: 0 10px;
}
.correo{
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 10px;
}
.btnenviar{
    box-shadow: 0 15px 15px #071e54;
    color: rgb(218, 226, 233);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    background: linear-gradient(to left, #0499c2, #071e54);
    transition: 0.6s;
    transition: background 0.3s ease-out;
}
.btnenviar:hover{
    background-position: 100px;
}

.jumbotron a{
    font-size: 15px;
}

/* MAINBLOG */
.mainblog{
    background: linear-gradient(to left, #afaeae, #fff, #afaeae);
    padding-bottom: 200px;

}
.blog{
    width: 1170px;
    padding: 0 30px;
    margin: auto;
}
.blogtitulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.blogtitulos h2{
    font-size: 40px;
    font-style: oblique;
}
.blogtitulos h3{
    font-size: 25px;
    color: #535353;
    font-style: oblique;
}
.audios{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.player{
    width: 350px;
    background: #f1f3f4;
    border-radius: 20px;
    box-shadow: 0 50px 80px #071e54;
}
.player .imgbox1{
    position: relative;
    width: 100%;
}
.player .imgbox img{
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.audio{
    width: 100%;
    outline: none;
}

.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.audios h3{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.audios p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* SOMOS */
.mainsomos{
    background: linear-gradient(to left, #00346e, #00aeff);
}
.somos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1170px;
}
.somostext{
    padding: 0 50px;
}
.somostext h1{
    font-weight: bold;
}
.somosimg img{
    width: 630px;
    margin: auto;
}

/* FOOTER */
footer{
    background: linear-gradient(to left, #000000, #232323);
}
.footer{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    justify-content: center;
    padding: 100px 50px;
    margin: auto;
    width: 1170px;

}

.empresa{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-bottom: 40px;
}

.ayuda{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.recursos{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.footer h2{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #b5b3b3;
}

.footer a{
    text-decoration: none;
    color: #868686;
}

.footer a:hover{
    color: #f1f3f4;
    transform: scale(1.05);
    transition: 0.3s;
}

.sociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sociales a{
    font-size: 30px;
    padding: 30px;
    margin-bottom: 250px;
}

/* MEDIA */
/* header */
@media screen and (max-width: 1200px){
    .header2{
        width: 960px;
        margin: auto;
    }
    .container-fluid h1{
        font-size: 15px;
    }
    .collapse a {
    font-size: 17px;
    }
}

@media screen and (max-width: 990px){
    .header2{
        width: 750px;
        margin: auto;
    }
    .nav-item a:hover{
        color: #a0a0a0;
        transform: scale(1.02);
        transition: 0.3s;
    }
    .collapse{
        background: linear-gradient(to right, #154b7d, #2aa4d7);
        border-radius: 15px;
}
}
@media screen and (max-width: 770px){
    .header2{
        width: 470px;
        margin: auto;
    }
    .nav-item a:hover{
        color: #a0a0a0;
        transform: scale(1.02);
        transition: 0.3s;
    }
    
}

/* Jumbotron */
@media screen and (max-width: 1200px){
    .jumbotron{
        width: 960px;
        margin: auto;
    }
    .jumbotron h1{
        font-size: 60px;
    }
    .jumbotron p{
        font-size: 20px;
    }
}

@media screen and (max-width: 990px){
    .jumbotron{
        width: 750px;
        margin: auto;
    }
    .jumbotron h1{
        font-size: 50px;
    }
    .jumbotron p{
        font-size: 20px;
    }
}

@media screen and (max-width: 770px){
    .jumbotron{
        width: 470px;
        margin: auto;
    }
    .jumbotron h1{
        font-size: 29px;
    }
    .jumbotron p{
        font-size: 13px;
    }
    .correo{
        width: 230px;
        height: 40px;
    }
    .btnenviar{
        height: 40px;
    }    
    .jumbotron a{
        font-size: 11px;
    }        
}

/* Mainblog */
@media screen and (max-width: 1200px){
    .blog{
        width: 960px;
        padding: 0 30px;
        margin: auto;
    }
    .audios{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    .player{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 600px;
        height: 300px;
    }
    .descripcion{
        grid-column: 3/3;
    }
    .player .imgbox img{
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 295px;
    }
}
@media screen and (max-width: 990px){
    .blog{
        width: 750px;
        padding: 0 30px;
        margin: auto;
    }
    .blogtitulos h2{
        font-size: 35px;
    }
    .blogtitulos h3{
        font-size: 20px;
    }

}
@media screen and (max-width: 770px){
    .blog{
        width: 470px;
        padding: 0 30px;
        margin: auto;
    }
    .blogtitulos h2{
        font-size: 25px;
    }
    .blogtitulos h3{
        font-size: 18px;
    }
    .player{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 427px;
        height: 250px;
        box-shadow: 0 10px 40px #071e54;
        }
    .player .imgbox img{
        width: 235px;
    }
    .audios h3{
        font-size: 19px;
    }
    
    .audios p{
        font-size: 16px;
    }

}

/* Quienes somos */
@media screen and (max-width: 1200px){
    .somos{
        width: 970px;
    }
    .somostext h1 {
        font-size: 33px;
    }
    .somostext p {
        font-size: 16px;
    }
}

@media screen and (max-width: 990px){
    .somos{
        width: 750px;
    }
    .somosimg img{
        width: 400px;
    }
}

@media screen and (max-width: 770px){
    .somos{
        width: 470px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .somostext{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    .somosimg img{
        width: 483px;
    }
}

/* Footer */

@media screen and (max-width: 1200px){
    .footer{
    width: 970px;
    }
}

@media screen and (max-width: 990px){
    .footer{
        width: 750px;
    }
    .footer h2{
        font-size: 16px;
    }
    .sociales{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sociales a{
        margin-bottom: 1px;
    }
    .recursos, .empresayuda{
        height: 400px;
    }
    .empresa, .ayuda{
        height: 200px;
    }
}

@media screen and (max-width: 770px){
    .footer{
        width: 470px;
        gap: 40px;
        }
        .footer{
            padding: 70px 10px;
        }
        .footer a {
            padding: 5px;
        }
}
